.main_color {
	color: #ff701e;
}

.main_bg_color {
	background-color: #ff701e;
}

.nav-link {
	display: inline-block;
	position: relative;
}

.nav-link::after {
	position: absolute;
	content: '';
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 2px;
	background: #ffffff;
	transition: all .3s ease 0s;
}

.nav-link:hover::after {
	width: 100%;
}

.detail_bg_color {
	border: 4px solid;
	border-color: #ffde91;
	background-color: #fffade;
}

.detail_back_btn {
	text-decoration: none;
	color: #888888;
}

.detail_back_btn:hover {
	color: #252525;
}

.black {
	color: #252525;
}