{% extends "components/layout.html" %} {% block subtitle %}
<div class="position-relative fs-3 black pt-3" style="left: 3vw">店舗情報</div>
{% endblock %} {% block search_box %}
<form action="/shop" method="get" class="search-box d-flex">
  <select class="search-select form-select border-3" name="search">
    <option selected value="all">全て</option>
    <option value="foods">飲食</option>
    <option value="clothes">衣類</option>
    <option value="leisure">レジャー</option>
  </select>
  <button type="submit" class="btn btn-warning ms-2 w-100">
    <span class="text-white">検索</span>
  </button>
</form>
{% endblock %} {% block contents %} {% for shop in shops %}
<div class="col-4">
  <div class="card shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="xMidYMid slice">
      <title>店名</title>
      <rect fill="#55595c" width="100%" height="100%" />
    </svg>
    <div class="card-body d-flex justify-content-between flex-column">
      <p class="card-title text-center black">
        {{ shop["store_name"]["value"] }}
      </p>
      <a class="detail_a_remove mx-auto" href="/shop/{{ shop['レコード番号']['value'] }}">
        <button class="detail_btn btn btn-sm btn-outline-secondary border-2">
          <span class="details">詳細</span>
        </button>
      </a>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}