<header>
  <nav class="navbar navbar-expand-lg navbar-light main_bg_color">
    <div class="container-fluid">
      <div class="navbar-brand ms-4 me-4">
        <a href="/">
          <i class="bi bi-map h2 text-white"></i>
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link ms-2 d-flex align-items-center" href="/shop">
              <i class="bi bi-shop h4 text-white pt-1"></i>
              <span class="text-white ms-1">店舗情報</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-2 d-flex align-items-center" href="/coupon">
              <i class="bi bi-postcard h4 text-white pt-1"></i>
              <span class="text-white ms-1">クーポン情報</span>
            </a>
          </li>
          <li class="position-absolute end-0 me-4">
            <a class="nav-link ms-2 d-flex align-items-center" href="/form">
              <i class="bi bi-arrow-up-right h4 text-white pt-1"></i>
              <span class="text-white ms-1">クーポンの掲載</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>