{% extends "components/layout.html" %} {% block subtitle %}
<div class="position-relative fs-3 black pt-3" style="left: 3vw"><i class="bi bi-postcard me-2"></i>クーポン詳細</div>
<a class="position-relative fs-5 pt-3 detail_back_btn" style="right: 3vw" href="/coupon">
  <i class="bi bi-arrow-up-left-square me-2"></i>クーポン一覧へ
</a>
{% endblock %} {% block contents %}
<div class=" col-10">
  <div class="fs-2 black">
    {{ coupon["coupon_store_name"]["value"] }}
  </div>
</div>
<div class=" col-2">
  <div class="fs-4 mt-2 black"><i class="bi bi-tag"></i>
    <span>
      {% set tag = coupon["coupon_tag"]["value"] %}
      {% if tag == "foods" %}
      飲食
      {% elif tag == "clothes" %}
      衣服
      {% else %}
      レジャー
      {% endif %}
    </span>
  </div>
</div>
<div class="col-5">
  <svg class="bd-placeholder-img card-img-top" width="100%" height="325" xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="xMidYMid slice">
    <title>紹介その１</title>
    <rect fill="#55595c" width="100%" height="100%" />
  </svg>
</div>

<div class="ms-4 col-6 detail_bg_color">
  <div class="fs-5 mt-3 black"><i class="bi bi-telephone me-2"></i>電話番号</div>
  <div class="ms-4 fs-6 black">
    〇〇〇-〇〇〇-〇〇〇〇
  </div>
  <div class="fs-5 mt-3 black"><i class="bi bi-clock me-2"></i>営業時間</div>
  <div class="ms-4 fs-6 black">
    〇〇:〇〇-〇〇:〇〇
  </div>
  <div class="fs-5 mt-3 black"><i class="bi bi-globe2 me-2"></i>ウェブサイト</div>
  <div class="ms-4 fs-6 black">
    https://〇〇〇-〇〇〇〇
  </div>
</div>
{% endblock %}
</div>